
@bgColor: #EEEEEE;

body {
	background-color: @bgColor;
}

section {
	margin: 0 auto;
	width: 960px;
}

table {
	thead {
		font-weight: bold;
	}
	td {
		margin: 5px;
		padding: 5px;
	}
}


.clear { clear: both; }

.hint {
	display: none;
	margin-left: 10px;
	position: absolute;
	
	p {
		margin: 0;
		padding: 6px;
	}
}


/* .loginSection
-------------------------*/
.loginSection {
	h2 {
		margin-bottom: 10px;
	}
	.form-signin {
		margin: 0 auto;
		max-width: 330px;
		padding: 50px 15px 15px;
		
		input[type="password"] {
			margin-bottom: 10px;
		}
	}
}



/* .adminIndexSection
-------------------------*/
.adminIndexSection {
	.formNewEval {
		background-color: darken(@bgColor, 5%);
		border-radius: 10px;
		padding: 10px;
		
		select, input {
			margin: 0 0 5px;
		}
		input[type=submit] {
			float: right;
		}
	}
}







/* .createTemplateSection
-------------------------*/
.createTemplateSection {
	margin-bottom: 50px;
	.question-list {
		margin: 0 0 0 40px;
	}
	.question-option {
		margin: 0 0 16px;
	}
	.btn-add-question {
		margin: 20px 0;
	}
	.row-last {
		margin: 50px 0 0;
		
		input[type=submit] {
			margin: 0 20px 0 0;
		}
	}
}












/* .aboutSection
-------------------------*/
.aboutSection {}










