<section class="container adminIndexSection">
	<h2>Hello {{username}}</h2>
	
	<h3>List of evaluation templates <small><a href="#/admin/template/new">Add new</a></small></h3>
	<ul>
		<li ng-repeat="temp in templates">
			<a ng-href="#/admin/template/{{temp.ID}}">{{temp.TitleIS}}</a>
		</li>
	</ul>

	<h3>List of evaluations <small><a href="" ng-click="showEvalForm=!showEvalForm">Add new</a></small></h3>
	<ul>
		<li ng-repeat="eval in evals">
			 <a ng-href="#/admin/evaluation/{{eval.ID}}">{{eval.TemplateTitleIS}}</a>
			<span>{{eval.StartDate | date: 'dd. MMM. HH:mm'}}</span>
			<span>{{eval.EndDate | date: '- dd. MMM. HH:mm'}}</span>
			<span>{{eval.Status}}</span>
		</li>
	</ul>
	<form ng-show="showEvalForm" ng-submit="addEvaluation()" class="formNewEval col-md-4">
		<h4>New evaluation</h4>
		<select ng-model="templateID" class="form-control" required>
			<option ng-repeat="temp in templates" value="{{temp.ID}}">{{temp.TitleIS}}</option>
		</select>
		<input ng-model="startDate" type="datetime-local" class="form-control" />
		<input ng-model="endDate" type="datetime-local" class="form-control" />
		<input type="submit" class="btn btn-success" />
	</form>
	<div class="clear"></div>
</section>
