<section class="container loginSection">
	<form class="form-signin" role="form" ng-submit="login(username, password)">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" ng-model="username" class="form-control" placeholder="Username" ng-click="csp()" ng-keyup="csp()" ng-blur="csp()" list="usernames" required autofocus>
		<datalist id="usernames">
			<option value="admin">
			<option value="bjarni12">
			<option value="sigurdurse09">
			<option value="sveinnt12">
		</datalist>
		<input type="password" ng-model="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</section>
